@font-face {
    font-family: 'inter';
    src: url(../fonts/inter.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'inter';  
}


/* banner section */

.banner {
    padding: 5px 3%;
    background-color: #35b8be;
    background-image: url("../images/header-image.svg");
    background-repeat: no-repeat;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: white;
}

.link-text {
    font-weight: 600;
    color: white;
    text-decoration: none;
}

/* navbar section */

.navbar-content {
    padding: 20px 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-right a {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    text-decoration: none;
}

.navbar-right  button {
    padding: 13px;
    height: 55px;
    width: 55px;
    background-color: #35b8be;
    background-image: url("../images/header-image.svg");
    border: none;
    border-radius: 4px;
    background-repeat: no-repeat;
}

.btn-content {
    position: relative;
}

.btn-count {
    position: absolute;
    top: -6px;
    right: -6px;
    box-shadow: 7px 7px 25px 0 rgba(126, 130, 143, 0.27);
    background-color: white;
    color: #35b8be;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 100px;
    width: 25px;
    height: 25px;
}

/* hero section */

.hero-content {
    padding: 100px 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("../images/hero-background.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 100% 0%;
}

.hero-content__title {
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.03em;
    margin-bottom: 20px;
}

.hero-content__title span {
    color: #35b8be;
}

.hero-content__description {
    font-size: 18px;
    line-height: 1.34;
    color: #546285;
    margin-bottom: 20px;
}

.hero-content__btn {
    padding: 20px 35px;
    border-radius: 6px;
    border: none;
    background-color: #35b8be;
    min-height: 60px;
    background-image: url("../images/btn-image.svg");
    background-size: cover;
    font-size: 18px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.hero-content__rating {
    color: #08090a;
}
.hero-content__rating span{
    color: #35b8be;
}

/* product container */

.product-container {
    display: flex;
    align-items: center;
    gap: 44px;
    background-color: transparent;
    padding: 100px 3%;
    background-image: url("../images/product-bg.svg");
    background-position: 50% 50%;
    background-size: 96% 90%;
    background-repeat: no-repeat;
}

.product-container__left-side {
    background-image: url("../images/product-text.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}

.product-container__title {
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.03em;
    margin-bottom: 20px;
    color: #35b8be;
}
.product-container__description {
    font-size: 18px;
    line-height: 1.34;
    color: #546285;
    margin-bottom: 20px;
}

.product-container__btn {
    padding: 20px 35px;
    border-radius: 6px;
    border: none;
    background-color: #35b8be;
    min-height: 60px;
    background-image: url("../images/btn-image.svg");
    background-size: cover;
    font-size: 18px;
    text-align: center;
    color: white;
}

/* works section */

.work-container {
    padding: 100px 3%;
}

.work-container_title {
    font-size: 55px;
    text-align: center;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.03em;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #35b8be;
}

.work-container__menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 16px;
    align-items: center;
    text-align: center;
}

.menu-card__title {
    margin-top: 40px;
    margin-bottom: 10px;
    color: #08090a;
    font-size: 22px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.03em;
}

.menu-card__description {
    margin-bottom: 10px;
    color: #546285;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.02em;
}

.card-line {
    width: 100%;
    height: 1px;
    border-style: dashed none none;
    border-width: 1.3px;
    padding-bottom: 140px;
    border-color: #d1cdcd;
}

/* food section */

.food-contain {
    padding: 100px 3%;
    
}

.food-bg {
    background-color: transparent;
    background-image: url('../images/food-bg.svg');
    background-position: 50% -15%;
    background-size: cover;
    background-repeat: no-repeat;
}

.food-contain__title {
    font-size: 55px;
    text-align: center;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.03em;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #35b8be;
}

.food-contain__description {
    margin-bottom: 10px;
    text-align: center;
    color: #546285;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.02em;
}

.food-contain__description a {
    color: #35b8be;
}

.food-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.food-btn button {
    font-size: 16px;
    border-style: solid;
    border-width: 1px;
    min-height: 52px;
    margin-right: 15px;
    margin-left: 15px;
    padding-right: 45px;
    padding-left: 45px;
    border-color: rgba(97, 114, 131, 0.2);
    border-radius: 6px;
    cursor: pointer;
    background-color: transparent;
}

.food-btn button:hover {
    border-color: rgba(97, 114, 131, 0);
    border-radius: 6px;
    background-color: #35b8be;
    background-image: url("../images/button-image.svg");
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.food-card__content {
    width: 100%;
}

.food-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    padding: 10px;
}

.food-card {
    margin-bottom: 20px;
    min-height: 140px;
    display: flex;
    padding: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(53, 184, 190, 0.15);
    border-radius: 6px;
    background-color: #fff;
}

.food-card:hover {
    border-color: #35b8be;
}

.food-img {
    overflow: hidden;
    max-height: 120px;
    max-width: 120px;
    min-height: 120px;
    min-width: 120px;
    margin-right: 30px;
    border-radius: 8px;
    object-fit: cover;
}

.content-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-title h5{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #08090a;
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.03em;
}

.content-title h6{
    color: #35b8be;
    font-size: 16px;
    font-weight: 400;
}

.content-description {
    margin-bottom: 10px;
    color: #546285;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
}

.quantity {
    width: 30px;
    margin-right: 8px;
    border-radius: 6px;
    padding-top: 8px;
    padding-right: 6px;
    padding-bottom: 8px;
    padding-left: 12px;
    line-height: 20px;
    border: 1px solid #ddd;
}

.cart-btn {
    min-height: 45px;
    border-radius: 6px;
    background-color: #35b8be;
    color: #fff;
    cursor: pointer;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    font-size: 15px;
}

.btn-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}


.btn-full {
    min-height: 60px;
    padding: 20px 35px;
    border-radius: 6px;
    background-color: #35b8be;
    background-image: url("../images/button-image.svg");
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 18px;
    text-align: center;
    border: none;
    color: white;
}

/* checkout section */

.checkout-contain {
    padding: 100px 3%;
    display: flex;
    align-items: center;
}

.checkout-left {
    position: relative;
}
.checkout-design {
    position: absolute;
    top: 0%;
    left: 0%;
}

.checkout-title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #35b8be;
    font-size: 55px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.03em;
}

.checkout-description {
    margin-bottom: 40px;
    color: #546285;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.02em;
}

.FAQ-btn {
    min-height: 60px;
    padding: 20px 35px;
    border-radius: 6px;
    background-color: #35b8be;
    background-image: url("../images/btn-image.svg");
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 18px;
    text-align: center;
    border: none;
    color: white;
}

/* footer section */

.footer {
    background-color: #f5fbfc;
    background-image: url("../images/Pattern.svg");
    background-position: 0% 100%;
    background-size: contain;
    padding: 100px 3% 60px;
    background-repeat: no-repeat;
}

.footer-logo {
    margin-bottom: 25px;
}

.logo-moto {
    margin-bottom: 10px;
    color: #546285;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.02em;
}

.footer-content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}
.legal a{
    color: #35b8be;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column a {
    margin-bottom: 12px;
    padding-top: 8px;
    padding-right: 6px;
    padding-bottom: 8px;
    color: #546285;
    font-size: 16px;
    text-decoration: none;
}

.footer-legal {
    display: flex;
    margin-top: 100px;
    padding-top: 60px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(126, 130, 143, 0.09);
    font-size: 15px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link {
    display: flex;
    margin-right: 12px;
    margin-left: 12px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(126, 130, 143, 0.3);
    border-radius: 100px;
}