@font-face {
    font-family: 'inter';
    src: url(../fonts/inter.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'inter';  
}


/* banner section */

.banner {
    padding: 5px 3%;
    background-color: #35b8be;
    background-image: url("../images/header-image.svg");
    background-repeat: no-repeat;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: white;
}

.link-text {
    font-weight: 600;
    color: white;
    text-decoration: none;
}

/* navbar section */

.navbar-content {
    padding: 20px 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-right a {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    text-decoration: none;
}

.navbar-right  button {
    padding: 13px;
    height: 55px;
    width: 55px;
    background-color: #35b8be;
    background-image: url("../images/header-image.svg");
    border: none;
    border-radius: 4px;
    background-repeat: no-repeat;
}

.btn-content {
    position: relative;
}

.btn-count {
    position: absolute;
    top: -6px;
    right: -6px;
    box-shadow: 7px 7px 25px 0 rgba(126, 130, 143, 0.27);
    background-color: white;
    color: #35b8be;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 100px;
    width: 25px;
    height: 25px;
}

/* hero section */

.hero-content {
    padding: 100px 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("../images/hero-background.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 100% 0%;
}

.hero-content__title {
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.03em;
    margin-bottom: 20px;
}

.hero-content__title span {
    color: #35b8be;
}

.hero-content__description {
    font-size: 18px;
    line-height: 1.34;
    color: #546285;
    margin-bottom: 20px;
}

.hero-content__btn {
    padding: 20px 35px;
    border-radius: 6px;
    border: none;
    background-color: #35b8be;
    min-height: 60px;
    background-image: url("../images/btn-image.svg");
    background-size: cover;
    font-size: 18px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.hero-content__rating {
    color: #08090a;
}
.hero-content__rating span{
    color: #35b8be;
}

/* product container */

.product-container {
    display: flex;
    align-items: center;
    gap: 44px;
    background-color: transparent;
    padding: 100px 3%;
    background-image: url("../images/product-bg.svg");
    background-position: 50% 50%;
    background-size: 96% 90%;
    background-repeat: no-repeat;
}

.product-container__left-side {
    background-image: url("../images/product-text.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}

.product-container__title {
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.03em;
    margin-bottom: 20px;
    color: #35b8be;
}
.product-container__description {
    font-size: 18px;
    line-height: 1.34;
    color: #546285;
    margin-bottom: 20px;
}

.product-container__btn {
    padding: 20px 35px;
    border-radius: 6px;
    border: none;
    background-color: #35b8be;
    min-height: 60px;
    background-image: url("../images/btn-image.svg");
    background-size: cover;
    font-size: 18px;
    text-align: center;
    color: white;
}