@font-face {
    font-family: 'inter';
    src: url(../fonts/inter.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'inter';  
}


/* banner section */

.banner {
    padding: 5px 3%;
    background-color: #35b8be;
    background-image: url("../images/header-image.svg");
    background-repeat: no-repeat;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: white;
}

.link-text {
    font-weight: 600;
    color: white;
    text-decoration: none;
}